.main {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

button {
    display: inline-block;
    vertical-align: middle;
    font-family: "Mulish", system-ui;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}
